nav {
    display: flex;
}
nav a {
    padding: 0.75rem;
    text-decoration: none;
    margin: 10px 15px 0 10px;
    display: inline-flex;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
    font-size: large;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
  }
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a:active {
    background-color: black;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e8e8e8;
    margin: 1em 0;
    padding: 0;
}

